.pageContent {
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;

  .logoAndTaglineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 27rem;

    .tagline {
      color: white;

      text-align: center;

      margin: 0;
    }

    .madnessifyLogo {
      width: 85%;
    }
  }

  .loginButton {
    width: 7rem;

    background-color: #e5e5e5;
    border: none;
    border-radius: 20rem;

    font-size: 1rem;

    padding: 0.25rem;

    &:hover {
      background-color: #bbbbbb;
    }

    &:active {
      transform: scale(0.95);
      transition: transform 0.1s ease;
    }
  }
}

@media screen and (max-width: 1200px) {
  .pageContent {
    flex-direction: column;

    .logoAndTaglineContainer {
      width: 80%;
    }

    .loginButton {
      width: 30%;
    }
  }
}
