html {
  font-size: clamp(1rem, 1.25vw + 0.75rem, 2.75rem);
}

body {
  margin: 0;

  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: linear-gradient(to bottom, #333333, #121212);
}

* {
  font-family: "Reem Kufi", sans-serif;
}

//for Base UI portals: https://base-ui.com/react/overview/quick-start#portals
#root {
  isolation: isolate;
}

:root {
  --color-blue: oklch(69% 50% 264deg);
  --color-red: oklch(80% 55% 31deg);
  --color-gray-50: oklch(17% 0.25% 264deg);
  --color-gray-100: oklch(28% 0.75% 264deg / 100%);
  --color-gray-200: oklch(29% 0.75% 264deg / 80%);
  --color-gray-300: oklch(35% 0.75% 264deg / 80%);
  --color-gray-400: oklch(47% 0.875% 264deg / 80%);
  --color-gray-500: oklch(64% 1% 264deg / 80%);
  --color-gray-600: oklch(82% 1% 264deg / 80%);
  --color-gray-700: oklch(92% 1.125% 264deg / 80%);
  --color-gray-800: oklch(93% 0.875% 264deg / 85%);
  --color-gray-900: oklch(95% 0.5% 264deg / 90%);
  --color-gray-950: oklch(94% 0.375% 264deg / 95%);
}
