@mixin match() {
  .match {
    .song {
      display: flex;
      gap: 0.25rem;

      width: 5.8rem;
      height: 1rem;

      background-color: var(--song-background);

      .song-picture {
        width: 1rem;
        height: 1rem;
      }

      .song-title {
        margin: 0;

        font-size: 0.5rem;

        line-height: 1rem;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        color: var(--song-text-color);
      }
    }

    .song-winner {
      @extend .song;

      --song-background: rgba(217, 217, 217, 0.25);
      --song-text-color: white;
    }

    .song-loser {
      @extend .song;

      --song-background: rgba(217, 217, 217, 0.1);
      --song-text-color: rgba(255, 255, 255, 0.5);
    }
  }
}

@mixin region-size($numParticipants) {
  #bracket-#{$numParticipants} {
    height: calc(#{$numParticipants} * (1rem + 0.5rem));

    display: flex;

    gap: 0.5rem;

    .round {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

dialog {
  width: 100vw;
  width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;

  border: 0;
  margin: 0;

  background: linear-gradient(to bottom, #333333, #121212);

  #modal-content {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    padding-bottom: 1.5rem;

    #modal-header {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      #header-text {
        margin: 0;

        color: rgba(255, 255, 255, 0.8);
      }
    }

    #modal-body {
      flex: 1;

      #action-bar {
        display: flex;

        gap: 0.25rem;

        justify-content: flex-start;
      }

      #bracket-container {
        overflow: auto;

        #bracket-is-32-or-less {
          display: flex;

          width: min-content;

          gap: 1rem;

          position: relative;

          #final-match {
            position: absolute;

            top: 38%;
            left: 50%;

            transform: translate(-50%, -50%);
          }
        }

        #bracket-is-over-64 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 2rem 1fr;

          overflow: auto;

          width: min-content;
          column-gap: 1rem;

          justify-items: center;

          #final-four {
            grid-column: 1 / span 2;

            grid-row: 2 / span 1;

            display: flex;
            gap: 1rem;
          }
        }

        @include match();
        @include region-size(4);
        @include region-size(8);
        @include region-size(16);
        @include region-size(32);
        @include region-size(64);
      }
    }
  }
}
